body {
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: auto;
    width: 80%;
}
.card {
    height: 360px;
    /* background-color: #c3c3c3; */
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.card-body {
    width: 100%;
    padding: 2px;
    border: 2px solid #6b6b6b;
}
.card-body input, .card-body button {
    font-size: 18px;
}
.input-field {
    width: 80%;
}
.submitt-bttn {
    width: 20%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    padding: 5px 0px;
}

